.pokemon-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  width: 100%;
  border-radius: 8px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 50%;
  margin: 0 auto;
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
  }
}

.pokemon-sprites-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pokemon-sprites,
.pokemon-sprites-shiny,
.pokemon-sprites-gmax {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
